@{layout('')}

<div>Original</div>
<div><img src="/img/header.jpg" /></div>
<br />
<br />
<div>Small (100x100)</div>
<div><img src="/img/small/header.jpg" /></div>
<br />
<br />
<div>Medium (only .png)</div>
<div>
    <img src="/img/medium/logo.png" />
    <img src="/img/medium/header.jpg" />
</div>
<br />
<br />
<div>Original grayscale</div>
<div><img src="/img/grayscale/header.jpg" /></div>
<br />
<br />
<div>Some filters</div>
<div><img src="/img/filters/header.jpg" /></div>
<br />
<br />
<div>50 percent</div>
<div><img src="/img/50percent/header.jpg" /></div>