@{layout('')}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Remote terminal</title>
		<link href="https://cdn.componentator.com/spa.min@19.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.componentator.com/spa.min@19.js"></script>
	</head>
	<body>

		<div data---="xterm__null__send:send_to_server"></div>

		<script>

			ON('ready', function() {
				var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (':' + location.port) : '') + '/');

				function send_to_server(data) {
					ws.send(data);
				}

				ws.onmessage = function(e) {
					SETTER('xterm/write', e.data);
				};
			});

		</script>
	</body>
</html>
