<mat-toolbar color="primary">
  <span>Crud Application</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">
    ADD EMPLOYEE
  </button>
</mat-toolbar>



<div class="main-body">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row"> {{row.firstname}}</td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row"> {{row.lastname}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> dob </th>
        <td mat-cell *matCellDef="let row"> {{row.dob | date}}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> gender </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}}</td>
      </ng-container>

      <ng-container matColumnDef="education">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Education </th>
        <td mat-cell *matCellDef="let row"> {{row.education}}</td>
      </ng-container>

      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
        <td mat-cell *matCellDef="let row"> {{row.company}}</td>
      </ng-container>

      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Exp. </th>
        <td mat-cell *matCellDef="let row"> {{row.experience}}</td>
      </ng-container>

      <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Package </th>
        <td mat-cell *matCellDef="let row"> {{row.package | currency:'XOF'}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>