/*auto*/

$color    : #67B13D;

body { padding: 0; margin: 0; font: normal 14px Arial; color: #656D78; background-color: #67B13D; line-height: 20px; }

.container-background { background-color: #FFF; }
.container { margin:0 auto; width: 960px; padding: 50px 0; }

.center { text-align: center; }
hr { border: 0; border-top: 1px solid #E0E0E0; }

.linkbutton { display: inline-block; position: relative; padding: 15px 80px; color: $color; border: 1px solid $color; text-decoration: none; border-radius: 4px; }
.linkbutton:hover { color: #FFF; background-color: $color; text-decoration: none; }

footer { color: #FFF; text-align: center; margin-top: 20px; }