
<form action="#" method="POST" id="f">
	<div>
		<div>First name:</div>
		<div><input type="text" name="firstname" maxlength="200" /></div>
	</div>
	<br />
	<div>
		<div>Last name:</div>
		<div><input type="text" name="lastname" maxlength="200" /></div>
	</div>
	<br />
	<div>
		<div>E-mail:</div>
		<div><input type="text" name="email" value="@" maxlength="200" /></div>
	</div>
	<br />
	<div>
		<div>Age:</div>
		<div><input type="text" name="age" maxlength="2" /></div>
	</div>
	<br />
	<div>
		<div><label><input type="checkbox" name="terms" value="1" /> I agree</label></div>
	</div>
	<div id="error"></div>
</form>
<br />
<button>Submit</button>

<script>

	$(document).on('click', 'button', function() {
		AJAX('POST /', $('#f').serialize(), function(response) {

			var err = $('#error');

			$('input').rclass('error');

			if (response instanceof Array) {

				var builder = [];

				for (var i = 0; i < response.length; i++) {
					var item = response[i];
					$('input[name="' + item.name + '"]').aclass('error');
					builder.push('<div>' + item.error + '</div>');
				}

				err.html(builder.join('')).show();

			} else {
				err.hide();
				alert('Thank you!\nForm has been sent successfully.');
			}
		});
	});
</script>
