@{meta('title', 'description', 'keywords')}

<!-- /app/css/ -->
@{ngStyle('app')}

@{ngResource('user')}

<!-- cdnjs -->
@{ngLocale('en-us')}

<!-- /app/controllers/ -->
@{ngController('user')}

<div ng-controller="UserCtrl">

	<h2>All users ({{ users.length }})</h2>
	<ul>
		<li ng-repeat="user in users | limitTo:2"><a href="javascript:void(0)" ng-click="edit(user._id)">edit</a> - <a href="javascript:void(0)" ng-click="delete(user._id)">delete</a> {{ user.alias }}</li>
	</ul>

	<div ng-include src="'/templates/form.html'" ng-show="isForm"></div>

</div>