<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="PAGE DESCRIPTION" />
    <meta name="keywords" content="PAGE KEYWORDS" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    @{import('meta', 'head', '~common.css', 'default.css')}
</head>
<body>
	<div>THEME: @{theme}</div>
	@{body}
</body>
</html>