.App { text-align: center; display: flex; background-color: #282c34; color: white; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.sidemenu { width: 260px; padding: 10px; background-color: #202123; }
.side-menu-button { padding: 15px; border: 1px solid white; border-radius: 5px; text-align: left; transition: ease .25s all; }
.side-menu-button:hover { background: rgba(255, 255, 255, .1); }
.side-menu-button span {padding-left: 6px; padding-right: 12px; }
.chatbox { flex: 1; background-color: #343541; overflow-y: scroll;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.chat-input-holder { padding: 24px; position: absolute; bottom: 0; left: 250px; right: 0; padding-bottom: 8px;}
.chat-input-textarea { width: 90%; border-radius: 5px; font-size: 1.25rem; border: none; background-color: #40414f; outline: none; box-shadow: 0 0 8px rgba(0, 0, 0, .25); padding: 12px; color: white; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat-log { text-align: left; }
.chat-message.chatgpt { background: #444654 }
.chat-message-center { max-width: 640px; margin: 0 auto; display: flex; padding: 12px 24px; }
.avatar { background: white; border-radius: 50%; width: 40px; height: 40px; }
.avatar.chatgpt { background: #0da37f; border-radius: 50%; width: 40px; height: 40px; }
.message { padding: 0 40px; width: calc(100% - 40px); }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
