@{layout('')}

<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=1024, user-scalable=yes" />
	<meta name="robots" content="all,follow" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<style type="text/css">
		body { padding: 50px; margin: 0; font:normal 12px Arial; color: gray }
		a { float:left; margin: 0 5px 0 0; font-size: 13px; }
		p { background-color: #F0F0F0; padding: 5px; font:bold 15px Arial; }
	</style>
</head>
<body>
	<h1>Users</h1>
	<br />
	<div id="users">
		@{template('users', model, 'empty')}
	</div>
	<br />
	<hr />
	<br />
	<div>New user:</div>
	<div><input type="text" name="alias" style="width:200px" /><button>OK</button></div>

	<script type="text/javascript">

	$(document).ready(function() {

		var input = $('input[name="alias"]');

		// ENTER
		input.bind('keyup', function(e) {
			if (e.keyCode === 13)
				$('button').trigger('click');
		});
	
		// CLICK
		$('button').bind('click', function() {

			var value = input.val();
			
			if (value.length === 0)
				return;			

			$.post('/', { alias: value }, function(html) {
				input.val('');
				$('#users').html(html);
			});

		});

	});

	</script>

</body>
</html>