@{layout('')}

<!DOCTYPE html>
<html>
<head>
    @{meta}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="robots" content="all,follow" />
    @{head}
    <!-- ISOMORPHIC according to /isomorphic/test/exports.url -->
    <script src="/test.js"></script>
</head>
<body>

    <h1>total.js</h1>
    <div>ISOMORPHIC: <b>@{isomorphic.test.getName()}</b></div>

    <script>
        alert(isomorphic.test.getName());
    </script>

</body>
</html>