@{layout('')}
@{title('Flow Stream')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="robots" content="all,follow" />
	<link href="https://cdn.componentator.com/spa.min@19.css" rel="stylesheet" type="text/css" />
	<script src="//cdn.componentator.com/spa.min@19.js"></script>
	@{import('meta', 'head', 'default.css + ui.css', 'func.js + ui.js')}
</head>
<body class="exec">

	<ui-component name="LAZY menu"></ui-component>
	<ui-component name="LAZY approve" path="null" config="cancel:@(Cancel)"></ui-component>
	<ui-component name="LAZY message" path="null" config="style:2"></ui-component>
	<ui-component name="LAZY notifybar"></ui-component>
	<ui-component name="loading"></ui-component>

	<ui-component name="infowindows" path="common.windows" ></ui-component>
	<ui-component name="websocket" path="null" config="url:/;encoder:false" ></ui-component>

	<header>
		<ui-component name="virtualwire" path="common.page" class="custom"></ui-component>
		<ui-component name="selected" path="common.page" config="selector:button" class="menu">
			<button class="exec" data-exec="common/page" data-if="dashboard"><i class="fa fa-dashboard"></i>@(Dashboard)</button>
			<button class="exec" data-exec="common/page" data-if="flow"><i class="fa fa-vector-square"></i>@(Flow)</button>
		</ui-component>

	</header>
	<ui-componet name="part" path="common.page" config="if:dashboard;url:/parts/dashboard.html;reload:dashboard/reload" data-id="dashbord" class="hidden invisible"></ui-componet>
	<ui-componet name="part" path="common.page" config="if:flow;url:/parts/flow.html;reload:flow/reload" data-id="dashbord" class="hidden invisible"></ui-componet>

	<script>

		var common = {};

		common.windows = [];
		common.page = 'dashboard';

		FIND('#dashboard', function(com) {
			common.dashboard = com;
		});

		DEF.dateformat = '@(yyyy-MM-dd)';

		PLUGIN('common', function(exports) {
			exports.page = function(el) {
				SET('?.page', el.attrd('if'));
			};
		});

		ON('@flag showloading', function() {
			SETTER('loading/show');
		});

		ON('@flag hideloading', function() {
			SETTER('loading/hide', 1000);
		});

		SETTER(true, 'loading/hide', 1000);

	</script>

</body>
</html>