<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="//cdn.componentator.com/spa.min@18.css" />
	<script src="//cdn.componentator.com/spa.min@18.js"></script>
	@{import('meta', 'head', 'default.css', 'default.js', 'favicon.ico')}
</head>
<body>

	<div class="container-background">
		<div class="container">
			<div class="center">
				<svg width="200px" height="200px" viewBox="-24 0 200 200" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M74.819,0l-74.819,43.266l0,86.532l74.819,43.265l75.181,-43.265l0,-86.532l-75.181,-43.266ZM74.318,54.683l27.682,15.924l0,32.049l-27.682,16.025l-27.818,-16.025l0,-32.049l27.818,-15.924Z" style="fill:#67b13d;fill-rule:nonzero;"/><path d="M37.049,21.598l-37.049,21.552l0,86.532l37.103,21.578l22.147,-38.642l0,0.046l-29.934,0l14.953,-26.248l-14.953,-26.252l29.934,0l0,0.103l-22.201,-38.669Z" style="fill:#9ad959;fill-rule:nonzero"/><path d="M33.633,63.164l12.697,23.005l-12.697,23.495l26.936,0l13.49,-23.453l-13.49,-23.047l-26.936,0Z" style="fill:#9ad959;fill-rule:nonzero"/></svg>
			</div>
			<br />
			@{body}
		</div>
	</div>
	<footer>
		Thank you for using <b>Total.js</b>.
	</footer>

</body>
</html>