@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<title>Websocket example with views</title>
	<meta charset="utf-8" />
	<script src="//cdn.componentator.com/spa.min@18.js"></script>
	@{import('default.css')}
</head>
<body>
	<nav>
		<a href="/" class="jrouting">Homepage</a>
		<a href="/company/" class="jrouting">Company</a>
		<a href="/products/" class="jrouting">Products</a>
		<a href="/contact/" class="jrouting">Contact</a>
	</nav>
	<div id="body">LOADING ...</div>

	<script>

		NAV.clientside('.jrouting');

		var ws = new WebSocket('ws://127.0.0.1:8000/');

		ws.onmessage = function(e) {

			var container = $('#body');
			var message = JSON.parse(e.data);
			if (message.status === 200) {
				// TIP: here you can cache the view body
				container.html(message.body);
			} else
				container.html('404 - page not found');
		};

		ROUTE('/*', function() {

			if (!ws || ws.readyState !== 1) {
				setTimeout(() => REDIRECT(NAV.url), 200);
				return;
			}

			send({ url: NAV.url });
			var nav = $('nav');
			nav.find('.selected').rclass('selected');
			nav.find('[href="' + NAV.url + '"]').aclass('selected');
		});

		function send(obj) {
			ws.send(JSON.stringify(obj));
		}

	</script>

</body>
</html>